[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysqlclient = "*"
autopep8 = "*"
loguru = "*"
clickhouse-driver = "*"
clickhouse-mysql = "*"
argparse = "*"
pytelegrambotapi = "*"
jupyter = "*"
ipykernel = "*"
paramiko = "*"
sshtunnel = "*"
snoop = "*"
heartrate = "*"
mysql-replication = "==0.40"

[dev-packages]

[requires]
python_version = "3.11"
